body{
    background: #F2F2F2;
    position: relative;
}

.b-popup .b-popup-content{
    
    position: absolute;
    margin-left: 147px;
    margin-top: 48px;
    width:40px;
    height: 80px;
    padding:10px;
    background-color: #c5c5c5;
    overflow: hidden;

}
.nav{margin-top: 15px;}
.nav li{
    overflow: hidden;
	text-decoration: none;
	color: #000000;
    font-family: sans-serif;
    display: inline-block;
	width: 110px;
	height: 30px;
    font-size: 14px;
	text-align: center;
	line-height: 30px;
	padding: 0;
	margin: 0;
}
.nav li:last-child{
    width: 70px;
    margin-left: 20px;
}
.nav li:last-child:hover{
    width: 220px;
}
.nav li:hover{
    cursor: pointer;
    color: #727272;
}
.nav li.active{
    color: #A3A3A3;
}
.nav img{
    margin-right: 0px;
    margin-top: 8px;
    float: left;
}
.find1 input{
    width: 150px;
}
.find1  {
    display: block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    margin: 1px;
    color: #454545;
    cursor: pointer;
  
}
.logo{
    margin-top: 30px;
    font-size: 18px;
}
.new p{
    float: left;
    margin-top: 40px; 
}
.new img{
margin-top: 30px;
float: left;
border-radius: 50%;
margin-left: 10px;
}

.img2{
    margin-top: 22px;
}
.img2:hover{
    cursor: pointer;
}

.head{
    font-size: 30px;
    margin-top: 55px;
    margin-left: 25px;
    margin-bottom: 15px;
}
.images:first-child{
    padding-left: 0;
 
    text-align: center;
    background: #FFFFFF;
}
.button1{
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 25px;
    }
    
    
.button1:hover{
    cursor: pointer;
    
}
    
.images{
    padding-left: 35px;
    padding-top: 28px;
    font-size: 18px; 
    height: 340px;
    width: 340px;
    background: url("2.png");
    border: hidden;
    margin: 25px;
}
.images p{
font-size: 13px;
   font-family: sans-serif;
   margin-left: 10px;
   margin-top: 20px;
}
.images img{
    margin-right: 8px;
    margin-left: 15px;
}
.button{
    height: 40px;
    width: 270px;
   margin-top: 170px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #000;
}
.button:hover{
    cursor: pointer;
}
.button:active{
    background: #DBDBDB;
}
.foot{
    font-size: 18px;
    padding-left: 30px;
    margin-top: 20px;
    height: 300px;
    display: inline-block;
    border-color: #333;
}
.menu{
    width: 270px;
    float: left;
}
.menu li{
    text-decoration: none;
	color: #707070;
    font-family: sans-serif;
    display: block;
	height: 35px;
    font-size: 14px;
	line-height: 35px;
	padding: 0;
	margin: 0;
    width: 150px;
}
.menu li:hover{
    cursor: pointer;
    color: #333;
}
.soc-seti{
    width: 40px;
    float: left;
    margin-right: 0;
}
.soc-seti img{
    display: block;
    margin: 30px;
}
.soc-seti img:hover{
    cursor: pointer;
}
.sub{
   
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    height: 50px;
    width: 270px;
    line-height: 50px;
    background: #D6D6D6;
    margin-left: 10px;
}
.sub:hover{
    cursor: pointer;
    background: #8E8E8E;
}
.copy{
    
    font-family: sans-serif;
    font-size: 14px;
    color: #ADADAD;
    margin-top: 40px;
}
.find input{
    height: 25px;
    margin-left: 10px;
    width: 270px;
    margin-bottom: 20px;
    margin-top: 30px;
    border: 0;
    border-bottom: 1.5px solid #6D6C6C;
    font-size: 12px;
    background:#f2f2f2;
    color: #303030;
    
    
}
p{
    padding: 0;
    margin: 0;
}
table{
    border-spacing: 5px 15px; 
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    font-style: italic;
    font-size: 12px;
    font-family: sans-serif;
}
table td:last-child{
    font-size: 12px;
    
    color: #848484;
}
table td:first-child:hover{
    cursor: pointer;
    
}

